{% extends "base.html" %}
{% block content %}
  <h2>Features</h2>
	<ol>
		<li>
			<div class="parag">
				In Pivotal Tracker, one or more <em>import panels</em> can be created for each project, each panel listing
				a specified subset of cases in your FogBugz server, and a user can import these cases into Pivotal Tracker via
				Drag & Drop. When importing a FogBugz case in this way, a Pivotal Tracker story is created and linked to that
				case, and a special tag <span class="code">ts@<span class="symbol">pid</span>-<span class="symbol">sid</span></span>
				is added to that case in FogBugz to link back to the story. Here <span class="symbol">pid</span> and <span class="symbol">sid</span>
				are the project id and story id of the linked Pivotal Tracker story, respectively.
			</div>
		</li>
		<li>
			<div class="parag">
				Reversely, if you specify a special label <span class="code">fb:<span class="symbol">proj</span></span> when
				creating a story in Pivotal Tracker, or adding this special label to an existing story that's not linked to
				any outside source, a new FogBugz case will be created for this story under the project whose name is
				<span class="symbol">proj</span>. The special tag described above will be added to the case to link it to
				the story, and the story will be set to link back to that case. This feature is however optional, and you
				can enable/disable it in the integration profile.
			</div>
		</li>
		<li>
			<div class="parag">
				When a FogBugz case is linked to a Pivotal Tracker story, all existing events are posted as notes in that story,
				and the same with any future events on the case. Changes to its title, description (text of the first event),
				category, status and tags (optional) are also reflected in the Pivotal Tracker story with similar changes to
				the corresponding fields.
			</div>
		</li>
		<li>
			<div class="parag">
				Reversely, when a Pivotal Tracker story is linked to a FogBugz case, all existing notes are posted as events in
				that case, and the same with any future notes on the story. Changes to its title, type, state and labels (optional)
				are also reflected in the FogBugz case with similar changes to the corresponding fields. Additionally, changes
				to other fields (i.e. description, estimate, owner and requester) of the Pivotal Tracker story are reported in
				the FogBugz case in case events. Finally, if the story is deleted, its counterpart in FogBugz is resolved and
				closed, and the link between them is broken.
			</div>
		</li>
		<li>
			<div class="parag">
				FogTracker handles the parent-children relationship of cases in FogBugz. For a FogBugz case with a parent
				case and/or one or more child cases, its corresponding Pivotal Tracker story will contain this information
				in its description, with links to all these parent and child cases. This inforamtion is always kept up to
				date when relevant changes are made in FogBugz (e.g. when a child case is added or removed).
			</div>
		</li>
		<li>
			<div class="parag">
				You can link multiple FogBugz projects to one Pivotal Tracker project by either including cases from multiple
				FogBugz projects in a single <em>import panel</em>, or creating multiple <em>import panels</em>, one for each
				project. You can also link multiple Pivotal Tracker projects to one FogBugz project by putting different subsets
				of cases in that FogBugz project into different Pivotal Tracker projects' <em>import panels</em>. Just keep
				in mind that each FogBugz case can only be imported into one Pivotal Tracker project, and therefore you
				probably want to make sure these subsets of cases don't overlap.
			</div>
		</li>
	</ol>
{% endblock %}
