{% extends "base.html" %}
{% block content %}
	<h2>How to Setup FogTracker</h2>
	<ol>
		<li>
			<div class="parag">
				Sign in to the application using your Google account, and create an integration profile with relevant information,
				including the URL of your FogBugz server (both standalone and hosted options are supported), authentication info
				used to access FogBugz and Pivotal Tracker, and other options to customize the integration. Make sure the specified
				user accounts have <em>admin privileges</em> in their respective system, so that all the changes can be made as
				supposed.
			</div>
		</li>
		<li>
			<div class="parag">
				After an integration profile is created, a <span class="symbol">token</span> is returned to uniquely identify this
				profile. A list of existing tokens is always available once you sign in to the service, and you can click on any
				token to modify settings of that profile.
			</div>
		</li>
		<li>
			<div class="parag">
				Go to your Pivotal Tracker account, enter <em>Project Settings</em>, click the <em>Integrations</em>
				tab. In the <em>Activity Web Hook</em> section, enter the following URL as <em>Web Hook URL</em>:
				<div class="code">http://<span class="symbol">appid</span>.appspot.com/<span class="symbol">token</span>/WebHook/</div>
				Here <span class="symbol">appid</span> is the id of your AppEngine application, for this service use <em>fogtracker</em>.
			</div>
		</li>
		<li>
			<div class="parag">
				In the <em>External Tool Integrations</em> section, create a new integration of type
				<em>Other</em>. Choose any name you like for the integration, leave blank for the username and password. In the
				<em>Base URL</em> field use that of your FogBugz installation:
				<div class="code">https://<span class="symbol">your_fogbugz_host</span>/default.asp?</div>
				The ticket number will be appended by Pivotal Tracker to form the full url.
			</div>
			<div class="parag">
				Finally, in the <em>Import API URL</em> field, enter the following URL:
				<div class="code">http://<span class="symbol">appid</span>.appspot.com/<span class="symbol">token</span>/CaseFeed/?q=<span class="symbol">query</span></div>
				Here <span class="symbol">query</span> is the search string used to specify which FogBugz cases you want to include
				in the feed. Documentation on the syntax of the FogBugz search can be found <a href="http://fogbugz.stackexchange.com/questions/4399">here</a>.
				You probably want to at least specify a project using <span class="code">project:<span class="symbol">proj_name</span></span>.
				Note that at the time of writing Pivotal Tracker doesn't escape the URL before requesting it, and thus if you have
				special characters like whitespaces or quotes in your <span class="symbol">query</span>, you have to escape them
				manually before putting the URL into this field. Another thing to note is that FogTracker always retrieves only
				active cases that are not already imported into Pivotal Tracker, and you don't have to specify these metrics in
				the <span class="symbol">query</span>. You can create multiple integrations in Pivotal Tracker using diffrent
				<span class="symbol">query</span> strings to put different kinds of FogBugz cases into different panels.
			</div>
		</li>
		<li>
			<div class="parag">
				Go to your FogBugz account, install the <a href="http://www.fogcreek.com/FogBugz/plugins/plugin.aspx?ixPlugin=5">
				URLTrigger plugin</a>, and create a new trigger that acts on <em>exactly</em> these five events:
				<div class="code">CaseResolved, CaseClosed, CaseReactivated, CaseReopened and CaseEdited</div>
				In the <em>URL</em> field fill in the following URL:
				<div class="code">http://<span class="symbol">appid</span>.appspot.com/<span class="symbol">token</span>/URLTrigger/?CaseNumber={CaseNumber}&CaseEventID={CaseEventID}&EventType={EventType}</div>
				Make sure the default <em>GET</em> method is used, and don't forget to set the <em>Filter</em> field to only include
				cases belonging to this integration. However, if you have enabled the option to synchronize certain new Pivotal
				Tracker stories to FogBugz, make sure you also include these cases in the filter, so that changes to them can be
				propagated back into Pivotal Tracker.
			</div>
		</li>
	</ol>
{% endblock %}
