{% extends "base.html" %}
{% block content %}
  <p>
    FogTracker is a Free and Open Source Software web application and a free service to integrate the best bug tracker and the best agile planning
    tool on the web. It is written in Python and for <a href="http://code.google.com/appengine/">Google AppEngine</a>.
  </p>
  <h2>Key Features</h2>
  <p>
    <ul>
      <li>
		  Two-way integration. A user can import a FogBugz case into Pivotal Tracker via Drag & Drop, or import a new or
		  existing Pivotal Tracker story into FogBugz by assigning a special label to it. After the initial import, the
		  FogBugz case and the Pivotal Tracker story are linked to each other, and any further change or comment on either
		  side will be propagated to or reported in the other side.
	  </li>
      <li>
		  You can link multiple FogBugz projects to one Pivotal Tracker project, multiple Pivotal Tracker projects to one
		  FogBugz project, or multiple FogBugz projects to multiple Pivotal Tracker projects. However, each FogBugz case
		  can only be linked with a single Pivotal Tracker story, and vice versa.
	  </li>
      <li>
		  FogTracker works with both FogBugz On Demand and your private FogBugz server.
	  </li>
    </ul>
  </p>
  <p>A more complete list of features can be found <a href="/features">here</a>.</p>
  <p><em>It's strongly advised that you read the <a href="/notes">notes and limitations</a> before using FogTracker.</em></p>
  <h2>How To Use</h2>
  <p>
    You can test-drive FogTracker (or use it for free if you'd like) on this website, or you can grab the source on
    <a href="https://github.com/ban90/FogTracker">GitHub</a>, use it, modify it, fork it, and <a href="https://github.com/ban90/FogTracker/issues">
	report back any bugs and issues</a>, or <a href="http://www.ban90.com/2011/01/24/fogbugz-pivotal-tracker-fogtracker/#comment">
	leave a comment</a>. In either case, you must follow steps in the <a href="/howto">how-to page</a> to make the
	integration work.
  </p>

  {% if signed_in %}
    <h2>Your Integrations</h2>
    {% if integrations %}
      <table cellpadding="0" cellspacing="0" border="0" width="100%" class="data">
        <tr>
          <th width="20"></th>
          <th width="auto">Token</th>
          <th width="135">Created</th>
          <th width="60">Status</th>
          <th width="60" align="right">Operations</th>
        </tr>

      {% for integration in integrations %}
        <tr>
          <td width="20"></td>
          <td width="auto"><a href="/edit?token={{integration.token}}">{{integration.token}}</a></td>
          <td width="135"><span class="status">{{integration.created}}</span></td>
          <td width="60">{{integration.status}}</td>
          <td width="60" align="right">
            <form class="delete" action="/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete this integration?');">
              <input name="token" type="hidden" value="{{integration.token}}"/>
              <input type="submit" value="Delete"/>
            </form>
          </td>
        </tr>
      {% endfor %}
      </table>
    {% else %}
      <em>You haven't created any integration.</em>
    {% endif %}
    <p><a class="integration" href="/new"></a></p>
  {% else %}
    <table><tr><td><a class="testdrive" href="{{url}}"></a></td><td><em>&nbsp;&nbsp;requires signing in with your Google account</em></td></tr></table>
  {% endif %}

{% endblock %}
