{% extends "base.html" %}
{% block content %}
	<h2>New Integration</h2>
	{% if token %}
	<form action="/edit" method="POST">
		<input name="token" type="hidden" value="{{token}}"/>
	{% else %}
	<form action="/new" method="POST">
	{% endif %}
		<table>
			{% if fburl_empty %}
			<tr>
				<td></td>
				<td colspan="2" class="error">
					<em>* You must specify the base URL of your FogBugz installation.</em>
				</td>
			</tr>
			{% endif %}
			<tr>
				<td>FogBugz base URL:</td>
				<td><input class="tb" name="fburl" type="edit" value="{{fburl}}"/> <span class="star">*</span></td>
				<td class="htd">
					<a class="tooltip" href="#" tabindex="-1">
						<img border="0" src="/static/images/qmark.png"/>
						<span class="custom help">
							<img class="helpimg" src="/static/images/help.png" alt="Help" height="48" width="48" />
							Enter the base URL of your FogBugz installation, for FogBugz On Demand users it's <em>https://&lt;fogbugz_id&gt;.fogbugz.com</em>.
						</span>
					</a>
				</td>
			</tr>

			{% if fbuser_empty %}
			<tr>
				<td></td>
				<td colspan="2" class="error">
					<em>* You must specify a FogBugz user for use to access the cases.</em>
				</td>
			</tr>
			{% endif %}
			<tr>
				<td>FogBugz user email:</td>
				<td><input class="tb" name="fbuser" type="edit" value="{{fbuser}}"/> <span class="star">*</span></td>
				<td class="htd">
					<a class="tooltip" href="#" tabindex="-1">
						<img border="0" src="/static/images/qmark.png"/>
						<span class="custom help">
							<img class="helpimg" src="/static/images/help.png" alt="Help" height="48" width="48" />
							Enter the email of the user account used by the integration to access FogBugz. You must make
							sure this user has admin privileges on the FogBugz projects relevant to this integration, and
							it's recommended that you use a separate user specifically for this purpose
						</span>
					</a>
				</td>
			</tr>

			{% if fbpass_empty %}
			<tr>
				<td></td>
				<td colspan="2" class="error">
					<em>* You must specify the password of the given FogBugz user.</em>
				</td>
			</tr>
			{% endif %}
			<tr>
				<td>FogBugz password:</td>
				<td><input class="tb" name="fbpass" type="password"/> <span class="star">*</span></td>
				<td class="htd">
					<a class="tooltip" href="#" tabindex="-1">
						<img border="0" src="/static/images/qmark.png"/>
						<span class="custom help">
							<img class="helpimg" src="/static/images/help.png" alt="Help" height="48" width="48" />
							Enter the password of the user.
						</span>
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>

			{% if pttoken_empty %}
			<tr>
				<td></td>
				<td colspan="2" class="error">
					<em>* You must specify the API token of a Pivotal Tracker user for use to access the stories.</em>
				</td>
			</tr>
			{% endif %}
			<tr>
				<td>Tracker token:</td>
				<td><input class="tb" name="pttoken" type="edit" value="{{pttoken}}"/> <span class="star">*</span></td>
				<td class="htd">
					<a class="tooltip" href="#" tabindex="-1">
						<img border="0" src="/static/images/qmark.png"/>
						<span class="custom help">
							<img class="helpimg" src="/static/images/help.png" alt="Help" height="48" width="48" />
							Enter the API token of the user account used to access Pivotal Tracker. You can create a new
							token by selecting <em>Profile -> API Token -> Create New Token</em>. You must make sure this
							user has admin privileges on the Pivotal Tracker projects relevant to this integration, and
							it's recommended that you use a separate user specifically for this purpose,
						</span>
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>

			<tr>
				<td valign="top">Options:</td>
				<td>
					<table border="0" cellspacing="0" cellpadding="0"><tr>
						<td valign="top"><input class="cb" type="checkbox" name="tagsync" value="on"{% if tagsync %} checked="true"{% endif %} /></td>
						<td>Synchronize tags and labels in linked FogBugz cases<br/> and Pivotal Tracker stories</td>
					</tr></table>
				</td>
				<td class="htd" valign="top">
					<a class="tooltip" href="#" tabindex="-1">
						<img border="0" src="/static/images/qmark.png"/>
						<span class="custom help">
							<img class="helpimg" src="/static/images/help.png" alt="Help" height="48" width="48" />
							<p>If checked, labels in each imported Pivotal Tracker story are synchronized with the tags
							in its corresponding FogBugz case.</p>
							<p class="bold">It's <em>highly recommended</em> that you enable this option at the beginning
							of an integration if needed. If this option is enabled for an old integration, tags and labels
							in those already linked cases and stories are not synchronized automatically. The first time
							the tags of a FogBugz case or the labels of a Pivotal Tracker story are modified, they are
							synchronized to the other side of the integration, overwriting all existing labels or tags there.</p>
						</span>
					</a>
				</td>
			</tr>
			<tr>
				<td valign="top"></td>
				<td>
					<table border="0" cellspacing="0" cellpadding="0"><tr>
						<td valign="top"><input class="cb" type="checkbox" name="areasync" value="on"{% if areasync %} checked="true"{% endif %} /></td>
						<td>Add the area of each FogBugz case as a label to its<br/> linked Pivotal Tracker story</td>
					</tr></table>
				</td>
				<td class="htd" valign="top">
					<a class="tooltip" href="#" tabindex="-1">
						<img border="0" src="/static/images/qmark.png"/>
						<span class="custom help">
							<img class="helpimg" src="/static/images/help.png" alt="Help" height="48" width="48" />
							If checked, when a FogBugz case is imported into Pivotal Tracker, its area is automatically added to the new story as a label. This special label will also be updated whenever you change the area of the case in FogBugz.
						</span>
					</a>
				</td>
			</tr>
			<tr>
				<td valign="top"></td>
				<td>
					<table border="0" cellspacing="0" cellpadding="0"><tr>
						<td valign="top"><input class="cb" type="checkbox" name="projsync" value="on"{% if projsync %} checked="true"{% endif %} /></td>
						<td>Add the project of each FogBugz case as a label to<br/> its linked Pivotal Tracker story</td>
					</tr></table>
				</td>
				<td class="htd" valign="top">
					<a class="tooltip" href="#" tabindex="-1">
						<img border="0" src="/static/images/qmark.png"/>
						<span class="custom help">
							<img class="helpimg" src="/static/images/help.png" alt="Help" height="48" width="48" />
							<p>If checked, when a FogBugz case is imported into Pivotal Tracker, its project is automatically added to the new story as a label. This special label will also be updated whenever you change the project of the case in FogBugz.</p>
							<p>This is useful if you link one Pivotal Tracker project to multiple FogBugz projects.</p>
						</span>
					</a>
				</td>
			</tr>
			<tr>
				<td valign="top"></td>
				<td>
					<table border="0" cellspacing="0" cellpadding="0"><tr>
						<td valign="top"><input class="cb" type="checkbox" name="ptprop" value="on"{% if ptprop %} checked="true"{% endif %} /></td>
						<td>Allow creating and editing FogBugz cases in Pivotal<br/> Tracker using <em>special labels</em></td>
					</tr></table>
				</td>
				<td class="htd" valign="top">
					<a class="tooltip" href="#" tabindex="-1">
						<img border="0" src="/static/images/qmark.png"/>
						<span class="custom help">
							<img class="helpimg" src="/static/images/help.png" alt="Help" height="48" width="48" />
							If checked, you can use special labels in Pivotal Tracker to create and edit cases in FogBugz. Currently the following labels are supported:
							<ol>
							<li><em>fb:&lt;proj&gt;</em>: If this story doesn't already have a linked case in FogBugz, create such a case under the project &lt;proj&gt;, and link this story to that new case; otherwise, change the project of this story's linked FogBugz case to &lt;proj&gt;.</li>
							<li><em>area:&lt;area&gt;</em>: Change the area of this story's linked FogBugz case to &lt;area&gt;.</li>
							</ol>
							The special labels themselves are meant for one-time use only, and <em>will automatically be deleted</em> by FogTracker once the command is received.
						</span>
					</a>
				</td>
			</tr>

			{% if ptintid_empty %}
			<tr>
				<td></td>
				<td colspan="2" class="error">
					<em>
						* You must specify the integration ID in Pivotal Tracker if you choose to allow<br/>
						creating FogBugz cases in Pivotal Tracker. This ID is needed to link the story in<br/>
						question to the new FogBugz case created.
					</em>
				</td>
			</tr>
			{% endif %}
			<tr>
				<td>Tracker<br/>Integration ID:</td>
				<td><input class="tb" name="ptintid" type="edit" value="{{ptintid}}"/></td>
				<td class="htd">
					<a class="tooltip" href="#" tabindex="-1">
						<img border="0" src="/static/images/qmark.png"/>
						<span class="custom help">
							<img class="helpimg" src="/static/images/help.png" alt="Help" height="48" width="48" />
							<p>This ID is only needed if you have checked the above option to allow creating FogBugz cases in Pivotal Tracker. Leave it empty otherwise.</p>
							<p>To get the integration ID in Pivotal Tracker, follow Step 4 in the how-to page to create
							a new integration of type <em>Other</em>, and fill out the form, but leave out the <em>Import
							API URL</em> field for now. Click <em>Save</em> and you will see this newly created integration
							in the <em>External Tool Integrations</em> section. Hover your mouse over the <em>Edit</em>
							link to see the URL, and the last number in it (before "/edit") is the integration ID.</p>
							<p>Later you must edit this integration in Pivotal Tracker and fill in the <em>Import API URL</em>
							field, as instructed in Step 4 of the how-to page.</p>
						</span>
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>

			<tr>
				<td valign="top">Category Mapping:</td>
				<td><textarea name="mapping" rows="6">{{mapping}}</textarea></td>
				<td class="htd" valign="top">
					<a class="tooltip" href="#" tabindex="-1">
						<img border="0" src="/static/images/qmark.png"/>
						<span class="custom help">
							<img class="helpimg" src="/static/images/help.png" alt="Help" height="48" width="48" />
							Specify the mappings between FogBugz categories and Pivotal Tracker story types. By default
							the following mappings are used (everything is case-insensitive):<br/>
							<p><em>
								Bug = Bug<br/>
								Feature = Feature<br/>
								Schedule Item = Chore<br/>
								* = Chore<br/>
								Schedule Item = Release
							</em></p>
							These mappings are evaluated from top to bottom, and the first match will be used. For example,
							The corresponding Pivotal Tracker type of the FogBugz category "Schedule Item" is "Chore", not
							"Release". Your specified mappings are evaluated before the default ones, also from top to bottom.
						</span>
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>

			<tr>
				<td valign="top">Resolve Status:</td>
				<td><textarea name="resolve" rows="6">{{resolve}}</textarea></td>
				<td class="htd" valign="top">
					<a class="tooltip" href="#" tabindex="-1">
						<img border="0" src="/static/images/qmark.png"/>
						<span class="custom help">
							<img class="helpimg" src="/static/images/help.png" alt="Help" height="48" width="48" />
							Specify the status a FogBugz case under each category should be resolved to when its counterpart
							in Pivotal Tracker is finished. Each line should contain the resolve status of one category,
							in the form <em>&lt;category_name&gt;:&lt;status_id&gt;</em> (e.g. <em>Bug:2</em>). If not specified
							the default resolve status is used.
						</span>
					</a>
				</td>
			</tr>

			<tr>
				<td colspan="3" class="disclaimer">
					<em>* All information gathered here are securely stored in Google's servers, and will never be shared with anyone.</em>
				</td>
			</tr>
			<tr>
				<td colspan="3"><input type="submit" value="Submit"/></td>
			</tr>
		</table>
	</form>
{% endblock %}
